root = true

[*]
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
# Sort using directives with System.* appearing first
dotnet_sort_system_directives_first = true

# Inferred member names
dotnet_style_prefer_inferred_tuple_names = false : none 
dotnet_style_prefer_inferred_anonymous_type_member_names = false : none 

# Prefer all non-static fields, properties, methods and events referenced from within non-static methods to not be prefaced with "this."
dotnet_style_qualification_for_field = false : suggestion
dotnet_style_qualification_for_property = false : suggestion
dotnet_style_qualification_for_method = false : suggestion
dotnet_style_qualification_for_event = false : suggestion

# Prefer int, short etc instead of Int32, Int16 for members, parameters, variables.
dotnet_style_predefined_type_for_locals_parameters_members = true : suggestion

# Prefer Int32.Parse instead of int.Parse
dotnet_style_predefined_type_for_member_access = false : suggestion

# Prefer explicit tuple names instead of the generic (Item1, Item2) etc.
dotnet_style_explicit_tuple_names = true : suggestion

# Prefer null coalescing expression to ternary operator checking.
dotnet_style_coalesce_expression = true : suggestion

# Prefer to use null-conditional operator where possible.
dotnet_style_null_propagation = true : suggestion

# Prefer var everywhere
csharp_style_var_for_built_in_types = false : none
csharp_style_var_when_type_is_apparent = false : none
csharp_style_var_elsewhere = false : none

# Prefer pattern matching instead of is expressions with type casts.
csharp_style_pattern_matching_over_is_with_cast_check = true : suggestion
csharp_style_pattern_matching_over_as_with_null_check = true : suggestion

# Prefer out variables to be declared inline when possible.
csharp_style_inlined_variable_declaration = true : suggestion

# Prefer to use throw expressions instead of throw statements.
csharp_style_throw_expression = true : suggestion

# Newline settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true

trim_trailing_whitespace = true

# Spacing
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_parentheses = control_flow_statements,expressions
csharp_space_between_square_brackets = true

# Wrapping
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
